# Comparing prevalence of PRIMIS codelists

In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import display, Markdown

### Load data

In [2]:
# load data (note multi-level columnns)
df_e = pd.read_csv(os.path.join("..","released-outputs","code-prevalence-by-age-and-sex_emis.csv"), header=[0,1])
df_t = pd.read_csv(os.path.join("..","released-outputs","code-prevalence-by-age-and-sex_tpp.csv"), header=[0,1])

# rename some column headers
df_e = df_e.rename(columns={'Unnamed: 7_level_1': '', "ageband":'codelist', "sex":''})
df_t = df_t.rename(columns={'Unnamed: 7_level_1': '', "ageband":'codelist', "sex":''})

# set index
df_e = df_e.set_index(("codelist"))
df_t = df_t.set_index(("codelist"))

In [3]:
# define order in which to look at the codelist (by type)
output_order = ['total_population', 
              'eth2001', 'non_eth2001', 'eth_norecord', 'eth_notgiptref','eth_notstated', 
              'longres', 
              'carehome', 'nursehome', 'domcare', 
              'carer', 'notcarer', 'hhld_imdef', 
              'shield', 'nonshield',
              'ast', 'astadm', 'astrx', 
              'bmi', 'bmi_stage', 'sev_obesity',
              'ckd15', 'ckd35', 'ckd_cov', 
              'immdx_cov', 'immrx', 
              'diab', 'dmres',
              'chd_cov', 'resp_cov', 'cld', 
              'cns_cov','spln_cov',
              'sev_mental', 'smhres', 'learndis',
              'preg', 'pregdel',               
              'cov1decl', 'cov2decl', 'covadm1', 'covadm2', 'covcontra', 'covrx',
       ]

# define display headers for each group
headers = {'total_population': 'Total population', 'eth2001': 'Ethnicity',  'longres': 'Care home resident',
  'carehome': 'Care staff',  'carer': 'Carer / household',
  'shield': 'Shielding',  'ast': 'Asthma',
  'bmi': 'BMI',  'ckd15': 'CKD',
  'immdx_cov': 'Immunodeficiency',   'diab': 'Diabetes',
  'chd_cov': ' Heart/lung conditions',
  'cns_cov':'Other conditions', 
  'preg': 'Pregnancy/delivery',              
  'sev_mental': 'MH / LD',   'cov1decl': 'Covid vax'}

In [4]:
for i in output_order:
    if i in headers:
        display(Markdown(f"## \n ## {headers[i]}"))
        
    # find relevant row of each dataframe and rename with suffix
    t = df_t.loc[i].rename(i+" (tpp)")
    e = df_e.loc[i].rename(i+" (emis)")
    
    # concatenate into one table
    out = pd.concat([e,t], axis=1)
    
    # calculate difference in rates
    out["diff (e - t)"] = out[i+" (emis)"] - out[i+" (tpp)"]
    out["diff (% of t)"] = round((100*out["diff (e - t)"]/out[i+" (tpp)"]),1).fillna(0)
    
    display(out)

##
 ## Total population

         total_population (emis)  total_population (tpp)  diff (e - t)  \
16-39 F                5186610.0               3660005.0     1526605.0
      M                5269330.0               3733826.0     1535504.0
40-69 F                6004510.0               4437189.0     1567321.0
      M                6228625.0               4578857.0     1649768.0
70+   F                2409429.0               1898302.0      511127.0
      M                1994128.0               1579304.0      414824.0
total                 27092632.0              19887483.0     7205149.0

         diff (% of t)
16-39 F           41.7
      M           41.1
40-69 F           35.3
      M           36.0
70+   F           26.9
      M           26.3
total             36.2

##
 ## Ethnicity

         eth2001 (emis)  eth2001 (tpp)  diff (e - t)  diff (% of t)
16-39 F           703.3          606.5          96.8           16.0
      M           630.5          541.8          88.7           16.4
40-69 F           750.8          648.5         102.3           15.8
      M           702.7          611.9          90.8           14.8
70+   F           734.6          593.2         141.4           23.8
      M           731.6          587.4         144.2           24.5
total             704.4          602.2         102.2           17.0

         non_eth2001 (emis)  non_eth2001 (tpp)  diff (e - t)  diff (% of t)
16-39 F               247.0              352.9        -105.9          -30.0
      M               218.3              309.0         -90.7          -29.4
40-69 F               318.0              390.8         -72.8          -18.6
      M               291.6              368.2         -76.6          -20.8
70+   F               329.1              380.1         -51.0          -13.4
      M               326.5              379.7         -53.2          -14.0
total                 280.6              361.4         -80.8          -22.4

         eth_norecord (emis)  eth_norecord (tpp)  diff (e - t)  diff (% of t)
16-39 F                  5.2                 5.8          -0.6          -10.3
      M                  5.5                 5.6          -0.1           -1.8
40-69 F                  6.0                 6.1          -0.1           -1.6
      M                  6.3                 6.0           0.3            5.0
70+   F                  5.7                 5.7           0.0            0.0
      M                  5.7                 5.2           0.5            9.6
total                    5.8                 5.8           0.0            0.0

         eth_notgiptref (emis)  eth_notgiptref (tpp)  diff (e - t)  \
16-39 F                    0.0                   0.0           0.0
      M                    0.0                   0.0           0.0
40-69 F                    0.0                   0.0           0.0
      M                    0.0                   0.0           0.0
70+   F                    0.0                   0.0           0.0
      M                    0.0                   0.0           0.0
total                      0.0                   0.0           0.0

         diff (% of t)
16-39 F            0.0
      M            0.0
40-69 F            0.0
      M            0.0
70+   F            0.0
      M            0.0
total              0.0

         eth_notstated (emis)  eth_notstated (tpp)  diff (e - t)  \
16-39 F                  29.9                 45.3         -15.4
      M                  29.3                 46.6         -17.3
40-69 F                  18.5                 48.4         -29.9
      M                  20.3                 49.6         -29.3
70+   F                  16.0                 49.5         -33.5
      M                  15.6                 49.4         -33.8
total                    22.8                 47.9         -25.1

         diff (% of t)
16-39 F          -34.0
      M          -37.1
40-69 F          -61.8
      M          -59.1
70+   F          -67.7
      M          -68.4
total            -52.4

##
 ## Care home resident

         longres (emis)  longres (tpp)  diff (e - t)  diff (% of t)
16-39 F             0.6            0.9          -0.3          -33.3
      M             1.1            1.6          -0.5          -31.2
40-69 F             2.1            2.5          -0.4          -16.0
      M             2.7            3.3          -0.6          -18.2
70+   F            43.5           49.9          -6.4          -12.8
      M            23.0           26.4          -3.4          -12.9
total               7.0            8.6          -1.6          -18.6

##
 ## Care staff

         carehome (emis)  carehome (tpp)  diff (e - t)  diff (% of t)
16-39 F              0.3             0.9          -0.6          -66.7
      M              0.1             0.1           0.0            0.0
40-69 F              0.6             1.4          -0.8          -57.1
      M              0.1             0.2          -0.1          -50.0
70+   F              0.2             0.2           0.0            0.0
      M              0.0             0.1          -0.1         -100.0
total                0.3             0.6          -0.3          -50.0

         nursehome (emis)  nursehome (tpp)  diff (e - t)  diff (% of t)
16-39 F               0.1              0.2          -0.1          -50.0
      M               0.0              0.0           0.0            0.0
40-69 F               0.1              0.3          -0.2          -66.7
      M               0.0              0.0           0.0            0.0
70+   F               0.0              0.0           0.0            0.0
      M               0.0              0.0           0.0            0.0
total                 0.0              0.1          -0.1         -100.0

         domcare (emis)  domcare (tpp)  diff (e - t)  diff (% of t)
16-39 F             0.2            0.6          -0.4          -66.7
      M             0.0            0.1          -0.1         -100.0
40-69 F             0.5            1.4          -0.9          -64.3
      M             0.1            0.3          -0.2          -66.7
70+   F             0.0            0.1          -0.1         -100.0
      M             0.0            0.1          -0.1         -100.0
total               0.2            0.5          -0.3          -60.0

##
 ## Carer / household

         carer (emis)  carer (tpp)  diff (e - t)  diff (% of t)
16-39 F          20.3         16.4           3.9           23.8
      M           7.5          6.7           0.8           11.9
40-69 F          67.8         60.6           7.2           11.9
      M          27.8         25.0           2.8           11.2
70+   F          83.1         84.3          -1.2           -1.4
      M          56.2         57.3          -1.1           -1.9
total            38.3         36.1           2.2            6.1

         notcarer (emis)  notcarer (tpp)  diff (e - t)  diff (% of t)
16-39 F             48.5            16.8          31.7          188.7
      M             32.4            11.6          20.8          179.3
40-69 F             47.8            19.5          28.3          145.1
      M             39.8            14.3          25.5          178.3
70+   F             61.7            33.6          28.1           83.6
      M             53.5            23.6          29.9          126.7
total               44.8            18.0          26.8          148.9

         hhld_imdef (emis)  hhld_imdef (tpp)  diff (e - t)  diff (% of t)
16-39 F                0.2               0.5          -0.3          -60.0
      M                0.2               0.5          -0.3          -60.0
40-69 F                0.3               0.7          -0.4          -57.1
      M                0.2               0.6          -0.4          -66.7
70+   F                0.1               0.2          -0.1          -50.0
      M                0.1               0.2          -0.1          -50.0
total                  0.2               0.5          -0.3          -60.0

##
 ## Shielding

         shield (emis)  shield (tpp)  diff (e - t)  diff (% of t)
16-39 F           34.6          37.2          -2.6           -7.0
      M           18.7          20.4          -1.7           -8.3
40-69 F           81.8          83.1          -1.3           -1.6
      M           67.2          69.3          -2.1           -3.0
70+   F          181.7         195.5         -13.8           -7.1
      M          244.5         258.7         -14.2           -5.5
total             78.0          84.4          -6.4           -7.6

         nonshield (emis)  nonshield (tpp)  diff (e - t)  diff (% of t)
16-39 F              12.4             21.1          -8.7          -41.2
      M               8.7             11.9          -3.2          -26.9
40-69 F              19.4             33.4         -14.0          -41.9
      M              15.4             28.3         -12.9          -45.6
70+   F              30.2             55.8         -25.6          -45.9
      M              30.5             57.9         -27.4          -47.3
total                16.8             30.0         -13.2          -44.0

##
 ## Asthma

         ast (emis)  ast (tpp)  diff (e - t)  diff (% of t)
16-39 F       143.6      156.0         -12.4           -7.9
      M       159.0      167.4          -8.4           -5.0
40-69 F       149.2      153.3          -4.1           -2.7
      M       119.0      121.7          -2.7           -2.2
70+   F       140.6      134.7           5.9            4.4
      M       108.0      104.6           3.4            3.3
total         139.3      143.5          -4.2           -2.9

         astadm (emis)  astadm (tpp)  diff (e - t)  diff (% of t)
16-39 F            4.7           4.1           0.6           14.6
      M            4.9           4.9           0.0            0.0
40-69 F            5.9           4.9           1.0           20.4
      M            3.4           3.1           0.3            9.7
70+   F            6.1           4.8           1.3           27.1
      M            4.1           3.2           0.9           28.1
total              4.8           4.2           0.6           14.3

         astrx (emis)  astrx (tpp)  diff (e - t)  diff (% of t)
16-39 F          98.2        102.0          -3.8           -3.7
      M          86.0         77.9           8.1           10.4
40-69 F         199.4        214.6         -15.2           -7.1
      M         132.0        143.0         -11.0           -7.7
70+   F         310.1        318.0          -7.9           -2.5
      M         265.5        273.0          -7.5           -2.7
total           157.2        166.2          -9.0           -5.4

##
 ## BMI

         bmi (emis)  bmi (tpp)  diff (e - t)  diff (% of t)
16-39 F       813.3      845.2         -31.9           -3.8
      M       624.1      653.4         -29.3           -4.5
40-69 F       945.3      954.1          -8.8           -0.9
      M       886.6      895.1          -8.5           -0.9
70+   F       959.7      970.0         -10.3           -1.1
      M       958.3      966.1          -7.8           -0.8
total         846.3      866.5         -20.2           -2.3

         bmi_stage (emis)  bmi_stage (tpp)  diff (e - t)  diff (% of t)
16-39 F              49.3             63.1         -13.8          -21.9
      M              27.8             35.7          -7.9          -22.1
40-69 F             140.6            185.4         -44.8          -24.2
      M             103.8            148.8         -45.0          -30.2
70+   F             165.9            221.7         -55.8          -25.2
      M             158.8            221.0         -62.2          -28.1
total                96.3            132.7         -36.4          -27.4

         sev_obesity (emis)  sev_obesity (tpp)  diff (e - t)  diff (% of t)
16-39 F                 4.7                5.7          -1.0          -17.5
      M                 1.5                1.8          -0.3          -16.7
40-69 F                11.9               14.5          -2.6          -17.9
      M                 5.5                7.2          -1.7          -23.6
70+   F                 8.0                9.4          -1.4          -14.9
      M                 4.9                5.9          -1.0          -16.9
total                   6.2                7.7          -1.5          -19.5

##
 ## CKD

         ckd15 (emis)  ckd15 (tpp)  diff (e - t)  diff (% of t)
16-39 F           1.8          2.0          -0.2          -10.0
      M           1.5          1.6          -0.1           -6.3
40-69 F          28.3         27.6           0.7            2.5
      M          23.6         22.4           1.2            5.4
70+   F         236.2        233.1           3.1            1.3
      M         203.8        198.1           5.7            2.9
total            48.3         50.0          -1.7           -3.4

         ckd35 (emis)  ckd35 (tpp)  diff (e - t)  diff (% of t)
16-39 F           0.8          0.8           0.0            0.0
      M           0.8          0.7           0.1           14.3
40-69 F          22.1         21.1           1.0            4.7
      M          17.7         16.2           1.5            9.3
70+   F         223.0        219.7           3.3            1.5
      M         188.7        182.6           6.1            3.3
total            43.0         44.2          -1.2           -2.7

         ckd_cov (emis)  ckd_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F             1.4            1.5          -0.1           -6.7
      M             1.8            1.8           0.0            0.0
40-69 F             4.0            3.8           0.2            5.3
      M             5.0            4.7           0.3            6.4
70+   F            14.1           13.0           1.1            8.5
      M            16.5           15.0           1.5           10.0
total               5.1            5.0           0.1            2.0

##
 ## Immunodeficiency

         immdx_cov (emis)  immdx_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F               4.3              4.4          -0.1           -2.3
      M               4.7              4.6           0.1            2.2
40-69 F              13.1             13.0           0.1            0.8
      M              14.2             13.3           0.9            6.8
70+   F              26.6             27.0          -0.4           -1.5
      M              32.7             32.6           0.1            0.3
total                12.7             12.8          -0.1           -0.8

         immrx (emis)  immrx (tpp)  diff (e - t)  diff (% of t)
16-39 F           8.6          7.9           0.7            8.9
      M           7.2          6.2           1.0           16.1
40-69 F          26.0         24.6           1.4            5.7
      M          17.9         16.5           1.4            8.5
70+   F          38.0         35.7           2.3            6.4
      M          30.2         27.6           2.6            9.4
total            18.5         17.5           1.0            5.7

##
 ## Diabetes

         diab (emis)  diab (tpp)  diff (e - t)  diff (% of t)
16-39 F         27.0        28.1          -1.1           -3.9
      M         10.6        11.2          -0.6           -5.4
40-69 F         83.0        81.2           1.8            2.2
      M         98.7        98.8          -0.1           -0.1
70+   F        167.5       164.8           2.7            1.6
      M        225.8       223.5           2.3            1.0
total           79.8        81.6          -1.8           -2.2

         dmres (emis)  dmres (tpp)  diff (e - t)  diff (% of t)
16-39 F           0.3          0.5          -0.2          -40.0
      M           0.1          0.2          -0.1          -50.0
40-69 F           1.6          2.1          -0.5          -23.8
      M           1.8          1.8           0.0            0.0
70+   F           4.9          5.1          -0.2           -3.9
      M           6.0          6.0           0.0            0.0
total             1.7          2.0          -0.3          -15.0

##
 ##  Heart/lung conditions

         chd_cov (emis)  chd_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F            11.2           12.5          -1.3          -10.4
      M             8.4            9.0          -0.6           -6.7
40-69 F            62.6           63.6          -1.0           -1.6
      M            87.5           91.8          -4.3           -4.7
70+   F           285.4          285.8          -0.4           -0.1
      M           387.9          390.2          -2.3           -0.6
total              91.7           97.6          -5.9           -6.0

         resp_cov (emis)  resp_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F              2.5             2.5           0.0            0.0
      M              2.7             2.7           0.0            0.0
40-69 F             28.2            29.2          -1.0           -3.4
      M             27.8            28.5          -0.7           -2.5
70+   F             99.6            98.2           1.4            1.4
      M            123.4           123.5          -0.1           -0.1
total               31.6            33.2          -1.6           -4.8

         cld (emis)  cld (tpp)  diff (e - t)  diff (% of t)
16-39 F         5.3        5.7          -0.4           -7.0
      M         6.9        8.0          -1.1          -13.7
40-69 F        23.9       25.1          -1.2           -4.8
      M        29.8       31.3          -1.5           -4.8
70+   F        23.6       24.4          -0.8           -3.3
      M        27.4       26.8           0.6            2.2
total          18.6       19.8          -1.2           -6.1

##
 ## Other conditions

         cns_cov (emis)  cns_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F            17.9           19.0          -1.1           -5.8
      M            19.3           20.0          -0.7           -3.5
40-69 F            39.3           40.6          -1.3           -3.2
      M            39.4           41.5          -2.1           -5.1
70+   F           133.2          140.8          -7.6           -5.4
      M           142.7          148.0          -5.3           -3.6
total              47.3           51.1          -3.8           -7.4

         spln_cov (emis)  spln_cov (tpp)  diff (e - t)  diff (% of t)
16-39 F              5.2             5.8          -0.6          -10.3
      M              2.8             2.8           0.0            0.0
40-69 F              7.4             8.0          -0.6           -7.5
      M              4.8             5.1          -0.3           -5.9
70+   F              8.8             9.3          -0.5           -5.4
      M              7.3             7.7          -0.4           -5.2
total                5.6             6.1          -0.5           -8.2

##
 ## MH / LD

         sev_mental (emis)  sev_mental (tpp)  diff (e - t)  diff (% of t)
16-39 F                7.3               7.3           0.0            0.0
      M                9.4               9.0           0.4            4.4
40-69 F               15.0              14.7           0.3            2.0
      M               16.0              15.4           0.6            3.9
70+   F               14.8              13.6           1.2            8.8
      M               10.3               9.6           0.7            7.3
total                 12.3              11.9           0.4            3.4

         smhres (emis)  smhres (tpp)  diff (e - t)  diff (% of t)
16-39 F            0.7           1.3          -0.6          -46.2
      M            0.8           1.6          -0.8          -50.0
40-69 F            2.0           3.9          -1.9          -48.7
      M            2.1           4.1          -2.0          -48.8
70+   F            2.2           4.4          -2.2          -50.0
      M            1.7           3.3          -1.6          -48.5
total              1.5           3.0          -1.5          -50.0

         learndis (emis)  learndis (tpp)  diff (e - t)  diff (% of t)
16-39 F              5.5             6.5          -1.0          -15.4
      M              9.5            10.8          -1.3          -12.0
40-69 F              4.3             4.7          -0.4           -8.5
      M              5.5             6.0          -0.5           -8.3
70+   F              1.8             1.7           0.1            5.9
      M              2.4             2.2           0.2            9.1
total                5.5             6.0          -0.5           -8.3

##
 ## Pregnancy/delivery

         preg (emis)  preg (tpp)  diff (e - t)  diff (% of t)
16-39 F         81.1        76.8           4.3            5.6
      M          0.0         0.2          -0.2         -100.0
40-69 F          6.1         4.6           1.5           32.6
      M          0.0         0.2          -0.2         -100.0
70+   F          0.1         0.4          -0.3          -75.0
      M          0.0         0.3          -0.3         -100.0
total           16.9        15.3           1.6           10.5

         pregdel (emis)  pregdel (tpp)  diff (e - t)  diff (% of t)
16-39 F           100.4           99.4           1.0            1.0
      M             0.1            0.2          -0.1          -50.0
40-69 F             8.2            6.3           1.9           30.2
      M             0.1            0.3          -0.2          -66.7
70+   F             0.1            0.5          -0.4          -80.0
      M             0.1            0.4          -0.3          -75.0
total              21.1           19.9           1.2            6.0

##
 ## Covid vax

         cov1decl (emis)  cov1decl (tpp)  diff (e - t)  diff (% of t)
16-39 F              0.0             3.6          -3.6         -100.0
      M              0.0             2.5          -2.5         -100.0
40-69 F              0.0             7.7          -7.7         -100.0
      M              0.0             7.0          -7.0         -100.0
70+   F              0.0            23.8         -23.8         -100.0
      M              0.0            19.8         -19.8         -100.0
total                0.0             8.3          -8.3         -100.0

         cov2decl (emis)  cov2decl (tpp)  diff (e - t)  diff (% of t)
16-39 F              0.0             2.5          -2.5         -100.0
      M              0.0             1.7          -1.7         -100.0
40-69 F              0.0             5.3          -5.3         -100.0
      M              0.0             4.9          -4.9         -100.0
70+   F              0.0            17.8         -17.8         -100.0
      M              0.0            14.6         -14.6         -100.0
total                0.0             5.9          -5.9         -100.0

         covadm1 (emis)  covadm1 (tpp)  diff (e - t)  diff (% of t)
16-39 F             0.0          170.0        -170.0         -100.0
      M             0.0           82.7         -82.7         -100.0
40-69 F             0.0          480.1        -480.1         -100.0
      M             0.0          369.6        -369.6         -100.0
70+   F             0.0          889.5        -889.5         -100.0
      M             0.0          881.2        -881.2         -100.0
total               0.0          393.9        -393.9         -100.0

         covadm2 (emis)  covadm2 (tpp)  diff (e - t)  diff (% of t)
16-39 F             0.0          170.1        -170.1         -100.0
      M             0.0           82.7         -82.7         -100.0
40-69 F             0.0          480.3        -480.3         -100.0
      M             0.0          369.7        -369.7         -100.0
70+   F             0.0          890.0        -890.0         -100.0
      M             0.0          881.7        -881.7         -100.0
total               0.0          394.1        -394.1         -100.0

         covcontra (emis)  covcontra (tpp)  diff (e - t)  diff (% of t)
16-39 F               0.0              0.0           0.0            0.0
      M               0.0              0.0           0.0            0.0
40-69 F               0.0              0.0           0.0            0.0
      M               0.0              0.0           0.0            0.0
70+   F               0.0              0.0           0.0            0.0
      M               0.0              0.0           0.0            0.0
total                 0.0              0.0           0.0            0.0

         covrx (emis)  covrx (tpp)  diff (e - t)  diff (% of t)
16-39 F         176.0        170.2           5.8            3.4
      M          97.0         82.8          14.2           17.1
40-69 F         562.4        480.3          82.1           17.1
      M         463.3        369.8          93.5           25.3
70+   F         866.9        890.1         -23.2           -2.6
      M         859.5        881.7         -22.2           -2.5
total           424.1        394.1          30.0            7.6